#root {
  text-align: center;
}

.cuadro {
  width: 80px;
  height: 80px;
  border: 1px solid black;
}

.tablero {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(8, 80px);
  grid-template-rows: repeat(8, 80px);
  /*filter: blur(3px);*/
}

.promocion {
  display: flex;
  grid-template-columns: repeat(4, 80px);
  grid-template-rows: repeat(1, 80px);
  padding-bottom: 15px;
  position: absolute;
  width: 640px;
  height: 640px;
  top: 138px;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.7);

}

img {
  width: 70px;
  height: 70px;
}

.ganador {
  position: absolute;
  width: 640px;
  height: 640px;
  top: 138px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.7);
}

.btn {
  border: none;
  color: white;
  padding: 14px 28px;
  cursor: pointer;
  border-radius: 5px;
}

.success {
  background-color: #749454;
}

.success:hover {
  background-color: #46a049;
}